<div>
  <h1>Privet component Angular</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus iusto maiores nostrum odio quaerat saepe sit. Blanditiis, consequuntur cumque hic, mollitia necessitatibus neque obcaecati, omnis perspiciatis placeat praesentium soluta temporibus voluptates. Corporis exercitationem explicabo fugit itaque laudantium molestiae nisi quidem sapiente sed unde. Amet architecto aspernatur aut beatae consequuntur dicta dolorem doloremque dolores dolorum eaque eius, esse est exercitationem facere fuga id in iure non officia pariatur porro quaerat quia quisquam sequi totam veniam veritatis! Animi dolores est qui voluptas!</p>
</div>
